<!DOCTYPE html>

  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <>
  <h1>Home Page</h1>
  <h2> tuoi : <%= age %> </h2>
  <h2>dia chi : <%= address %></h2>
<% for (var i = 0 ; i<arr2.length;i++) {  %>
  <h1><%=arr2[i]%></h1>
<% } %>
  </body>
</html>
